/* Voeg deze CSS toe aan settings.css om de stijl van het bovenmenu aan te passen */
header {
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav {
    width: 500px; /* Pas de breedte aan zoals gewenst */
    height: 100%; /* Zorg ervoor dat de zijbalk de volledige hoogte van de pagina beslaat */
    position: fixed; /* Laat de zijbalk vastgezet zijn */
    top: 0; /* Plaats de zijbalk bovenaan */
    left: 0; /* Plaats de zijbalk helemaal aan de linkerkant */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block; /* Maak van de link een blok om de volledige breedte van de zijbalk te benutten */
    text-decoration: none;
    font-weight: bold;
    padding: 10px; /* Voeg wat ruimte toe rondom de link */
    color: white !important;
}