body {
    font-family: Arial, sans-serif;
    text-align: center;
}

label, input, button {
    display: block;
    margin: 10px auto;
}

input {
    width: 100px;
}
#backgroundImage {
    /* Voeg hier je stijlinstellingen toe */
    width: 300px; /* Voorbeeldbreedte van 300 pixels */
    height: 40px; /* Voorbeeldhoogte van 40 pixels */
    border: 1px solid #ccc; /* Een rand van 1 pixel, lichtgrijs */
    border-radius: 5px; /* Afgeronde hoeken van 5 pixels */
    padding: 5px; /* Ruimte binnenin het inputveld */
    font-size: 16px; /* Grootte van de tekst */
    background-color: #f9f9f9; /* Achtergrondkleur */
  }
  #image-url {
    /* Voeg hier je stijlinstellingen toe */
    width: 300px; /* Voorbeeldbreedte van 300 pixels */
    height: 40px; /* Voorbeeldhoogte van 40 pixels */
    border: 1px solid #ccc; /* Een rand van 1 pixel, lichtgrijs */
    border-radius: 5px; /* Afgeronde hoeken van 5 pixels */
    padding: 5px; /* Ruimte binnenin het inputveld */
    font-size: 16px; /* Grootte van de tekst */
    background-color: #f9f9f9; /* Achtergrondkleur */
  }