h1 {
    font-size: 100px;
}
h2 {
    font-size: 50px;
}

  .colorbar2 {
    background-color: yellowgreen;
    height: 10px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 33.3333%;
      position: absolute;
      top:0;
      left: 0;
      background-color: red;
      height: 100%;
    }
    
    &:after {
      content: "";
      display: block;
      width: 33.3333%;
      position: absolute;
      top:0;
      right: 0;
      background-color: blue;
      height: 100%;
    }
  }
  
  nav {
    background-color:#eee;
    overflow:hidden;
    scroll-behavior:smooth;
    .container {
      height:calc(3em + 4px);
      section {
        padding:calc(1em + 2px);
        width:100vw;
        a {
          border:solid 1px transparent;
          padding:1em;
        }
      }
    }
  }
  
  p {
    margin:1em;
  }